.header{
    background-color: var(--light-black);
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header img {
    height: 3rem;
}

.header p {
    height: 1.5rem;
    font-weight: 700;
}