.post {
    background-color: var(--light-black);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.content p{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover{
    color: var(--green-300);
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo strong {
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.comentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--dark-gray);
}

.comentForm > strong {
    line-height: 1.6;
    color: var(--lighter-gray);
}

.comentForm textarea {
    width: 100%;
    background-color: var(--dark-gray);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--lighter-gray);
    line-height: 1.4;
    margin-top: 1rem;
}

.comentForm footer {
    visibility: hidden;
    max-height: 0;
}

.comentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.comentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.comentForm button[type=submit]:not(:disabled):hover {
    background-color: var(--green-300);
}

.comentForm button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.commentList {
    margin-top: 2rem;
}