.bg-default-image {
    background-image: url("/images/default.jpg");
    background-size: 100%;
    height: 150px;
    text-shadow: 2px 2px 8px #000;
}

.logo {
    text-shadow: 2px 2px navy;
}

.active {
    background-color: navy;
}

.pointer {
    cursor: pointer;
}

/* ========= Tela de Login e Cadastro  ========= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input {
  font-family: 'Roboto', sans-serif;
}

.container-login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.container-login:before {
  content: '';
  position: absolute;
  width: 2500px;
  height: 2500px;
  border-radius: 50%;
  background: linear-gradient(45deg, #60A9F6, #2A8BF2);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
  

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

.form-login, .form-signup{
  text-align: center;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sign-in-form.form-login{
  position: relative;
  z-index: 2;
  transition: 1s 0.7s ease-in-out;
}

.sign-in-form.form-signup{
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: 1s 0.7s ease-in-out;
}


.sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.title {
  font-size: 2.5rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  min-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #F0F0F0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  align-items: center;
  justify-content: center;
}

.input-icon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: .3s;
  size: 40px;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.select-field {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 1.1rem;
  color: #acacac;
  margin-right: 20px;
  margin-left: -5px;
}


.input-field input::placeholder {
  color: #acacac;
  font-weight: 500;
}

.btn-login {
  width: 150px;
  height: 50px;
  border-radius: 49px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2A8BF2;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}

.btn-login:hover {
  background-color: #60A9F6;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  z-index: 7;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #FFFFFF;
  transition: 0.9s 0.6s ease-in-out;
}

.panel  h3{
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn-login.transparent {
  margin: 0;
  background: none;
  border: 2px solid #FFFFFF;
}

.image {
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content, .right-panel .image {
  transform: translateX(800px);
}

/* ================ ANIMATION  ================= */
.container-login.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-login.sign-up-mode .left-panel .image,
.container-login.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-login.sign-up-mode .right-panel .content, 
.container-login.sign-up-mode .right-panel .image {
  transform: translateX(0px);
}

.container-login.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-login.sign-up-mode .right-panel {
  pointer-events: all;
}

.container-login.sign-up-mode .signin-signup {
  left: 25%;
}

.container-login.sign-up-mode .sign-in-form.form-login{
  z-index: 1;
  opacity: 0;
}

.container-login.sign-up-mode .sign-in-form.form-signup{
  z-index: 2;
  opacity: 1;
}
/* ============================================= */
