.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.login h1 {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 2rem;
}

.login .form {
  background-color: var(--medium-gray);
  border-radius: 8px;
  overflow: hidden;
  padding: 2.5rem;
}

.login button {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--ligther-gray);
  width: 100%;
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: 700;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.1s, background-color 0.1s;
}

.login button:hover {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
}

.login .separator {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  background-color: var(--ligth-gray);
  height: 1px;
  width: 100%;
}

.login .signup {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.login .signup a {
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
  outline: none;
  transition: color 0.1s, background-color 0.1s;
}

.login .signup a:hover {
  color: var(--secondary);
}

.login .errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .spinner {
  display: block;
}

.login .error {
  color: var(--alert);
}

@media (max-width: 768px) {
  html {
      font-size: 87.5%;
  }
  .wrapper {
      grid-template-columns: 1fr;
  }
}
